@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0 auto;
    font-family: 'Nova Square', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #464545;
    margin: 10px;
    padding: 0;
}

footer,
header {
    color: #f84302;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 120px;
    align-items: center;
    background-color: #363636;
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

header span {
    color: black;
}


header img {
    border-radius: 50%;
    width: 90px;
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

header img:hover {
    box-shadow: 0 0 12px -1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(255, 255, 255, 0.75);
}

header button {
    font-size: 20px;
    color: #61dafb;
    background-color: #464545;
}

header h1 {
    color: black;
    transition: 300ms;
}

header h1:hover {
    color: #f84302;
}

.btn-group {
    align-items: center;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 600px;
    width: 100%;
    padding: 10px 0;
}


.card button {
    font-size: 20px;
    color: #f84302;
    background-color: #222222;
    width: 100px;
}


.modal-content {
    font-size: 30px;
    position: fixed;
    top: 40%;
    right: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    width: 520px;
    height: 250px;
    z-index: 1;
    background: linear-gradient(180deg, rgb(187, 187, 187) 0%, rgba(121, 121, 121, 1) 29%, rgba(121, 121, 121, 1) 63%, rgb(157, 156, 156) 100%);
}

.modal-content button {
    font-size: 20px;
    color: #f84302;
    background-color: #222222;
    width: 100px;
}

.modal-content_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.modal-content_title span {
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content_btn-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card {
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 10px;
    margin: 10px;
    width: 300px;
    height: 450px;
    background: linear-gradient(180deg, rgb(187, 187, 187) 0%, rgba(121, 121, 121, 1) 29%, rgba(121, 121, 121, 1) 63%, rgb(157, 156, 156) 100%);
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

.card img {
    border-radius: 20px;
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

.shop-cart {
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 140px;
    padding: 10px;
    min-width: 500px;
    min-height: 100px;
    color: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(187, 187, 187) 0%, rgba(121, 121, 121, 1) 29%, rgba(121, 121, 121, 1) 63%, rgb(157, 156, 156) 100%);
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

.shop-cart h3 {
    display: flex;
    justify-content: center;
}

.shop-cart_content {
    font-size: 15px;
}

.shop-cart_content img {
    width: 150px;
    height: 90px;
}

.shop-cart_content-wrapper {
    padding: 10px 20px;
    display: flex;

    align-items: center;
    text-align: center;
}

.shop-cart_content-wrapper p {
    display: flex;
    justify-content: flex-start;
    margin: 0 5px;
}

.active {
    color: #f84302;
}

.fav-star {
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 540px;
    min-width: 450px;
    min-height: 100px;
    color: black;
    background: linear-gradient(180deg, rgb(187, 187, 187) 0%, rgba(121, 121, 121, 1) 29%, rgba(121, 121, 121, 1) 63%, rgb(157, 156, 156) 100%);
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

.btn-header {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.star {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.text-wrapper {
    width: 100%;
    margin-left: 10px;
}

.card-wrapper {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card-wrapper img {
    border-radius: 5px;
    width: 180px;
    height: 110px;
}

.card-all {
    display: flex;
    justify-content: center;
    width: 600px;
    align-items: center;
}

.btn-star ,
.btn-shop ,
.btn-trash {
    font-size: 35px;
    color: black;
}

.btn-star:hover ,
.btn-shop:hover ,
.btn-trash:hover {
    transition: 300ms;
    color: #f84302;
}

.favorites-wrapper ,
.shopcart-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.star-infav {
    font-size: 30px;
    color: #f84302;
    position: absolute;
    right: 500px;
}


